@model Acme.Domain.Models.PagingResult<SerialNumberViewModel>

@{
    ViewBag.Title = "Serial Numbers";
    Layout = "_Layout";
}

<h2>Serial Numbers</h2>
    
    
   @Html.DisplayForModel("PagingResult")