@model Acme.Domain.Models.PagingResult<Acme.Presentation.Website.Models.SubmissionViewModel>

@{
    ViewBag.Title = "Submissions";
    Layout = "_Layout";
}

<h2>title</h2>

@Html.DisplayFor(x=>x.Hits)